<h1> Create an article </h1>

;<% if @article.errors.any? %>
;          <% puts "hello" %>
;     <ul>
;         <% @article.errors.full_messages do |msg| %>
;              <% puts msg %>
;         <li> <%= msg %> </li>
;         <% end %>
;     </ul>
; <% end %>
<%= form_for @article do |f| %>
    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
        <% @article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </p>
    <p>
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
        <% @article.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>